.experience {
  &__list {
    padding-left: 20px;
    &-item {
      line-height: 25px;
    }
  }
  &__technologies-title {
    margin-top: 10px;
  }
  &__technologies-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  &__technologies-item {
    background-color: #c3c3c3;
    border-radius: 20px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
}
