.nav-bar {
  &--item {
    padding: 20px;
    > a {
      text-decoration: none;
      color: black;

      &:hover {
        background: darken(#cccccc, 10%);
      }
    }
  }
  &--wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}